<div class="userbar">
    <a href="/" class="btn btn-default home"><span class="fa fa-home"></span> Home</a>
    <a href="/logout" class="btn btn-default right logout">Logout</a>
    <a href="/addpoll" class="btn btn-default right">Add Poll</a>
    <a href="/profile" class="btn btn-default right">My Polls</a>
    <a href="#" class="right welcome"><span>Welcome, <%= user.local.username %></span></a>
</div>