<div class="userbar">
    <a href="/" class="btn btn-default"><span class="fa fa-home"></span> Home</a>
    <span>Welcome, <%= user.local.username %></span>
    <a href="/profile" class="btn btn-default">My Polls</a>
    <a href="/addpoll" class="btn btn-default">Add Poll</a>
    <a href="/logout" class="btn btn-default">Logout</a>
</div>